.hero-img {
    max-height: 500px;
}

.header-title{
    font-size: 44px;
    font-weight: bold;
}

.material-icons.md-20 { font-size: 80px; }
.material-icons.md-10 { font-size: 50px; }


.card-features {
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-features:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(73, 104, 107, 0.644);
}

.step-title {
    font-size: 25px;
}

.bg-white-shade {
    background-color: aquamarine
}

.how-it-card {
    --bs-rows: 3; --bs-columns: 3;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 80px);
  gap: 10px;
  text-align: center;
}
.box1 { background: #0d6efd; color:white; }
.box2 { background: #198754; color:white; }
.box3 { background: #dc3545; color:white; }

.main-card {

    min-width: 200px;
}

.sub-button {
    width: 100%;
} 

.icon-home {
    max-width: 30px;
}

/* dashboard */
.side-navbar .nav-link,.mobile-navbar-link .nav-link {
    font-size: 20px;
    color:#e5e7eb;
    transition:all 0.3s ease;
}
.side-navbar li, .mobile-navbar-link li {
    color:#c9d1d9;
    cursor:pointer;
}
.mobile-active {
    border: none;
    background-color: rgb(0, 149, 255);
}
.side-a {
    text-decoration: none;
    color: white;
}

.mobile-navbar {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:0 8px 32px rgba(0,0,0,0.35);
}

.side-navbar {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border:1px solid rgba(255,255,255,0.18);
    border-radius:16px;
    box-shadow:0 8px 32px rgba(0,0,0,0.35);

    height: 100vh;
    min-height: 100vh;
    width: 220px;
    text-align: center;
    position: fixed;
}

/* main-sec */
.main-sec {
    margin-left: 220px;
}
@media (max-width: 768px) {

    .main-sec {
        margin-left: 0;
    }    
    
}
.main-h1 {
    color:#ffffff;
    font-weight:600;
}
.main-p {
    color:#9da7b3;

}

/* dashboard */
.pagebody {
    background: linear-gradient(135deg, #020617, #0b1f3a, #020617);
}

/* quickaction & call-sec */
.main-sec .quick-action,.main-sec .call-sec {
    color:#f0f6fc;
    font-weight:600;
    padding: 20px;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: all 0.3s ease;
    border-radius: 20px;
    height: 168px;
}
.main-sec .quick-action:hover{
    color:#f0f6fcec;
    background-color: #21262d4b;
    border:1px solid #30363d34;
    box-shadow:0 4px 10px rgb(0, 0, 0);
    transition: 2px 0.2s ease-in; 
}
.main-sec .quick-action span {
    margin-bottom: 8px;
    font-size: 28px;
}
.quick-action:hover span,
.quick-action:hover h6,
.quick-action:hover p{
    color:#f0f6fc9a !important;
}
.quick-action:active h6,
.quick-action:active span,
.quick-action:active p{
    color:#367dc4ac !important;
}
.main-sec .quick-action p,.call-sec p{
    color:#f0f6fcf4;
    font-weight:200;
}


/* quick-info */
.main-sec .quick-info {
    color:#f0f6fc;
    font-weight:600;
    padding: 10px 20px;
    background: linear-gradient(135deg, #8b5cf6, #4c1d95);
    border:1px solid #30363d;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 125px;
}
.quick-info p{
    color:#f0f6fcf4;
    font-weight:500;

}

/* today-medi */
.main-sec .today-medi {
    color: white;
    font-weight:600;
    padding: 20px;
    background: linear-gradient(135deg, #ff7a18, #ff3d3d);
    border:1px solid #30363d;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    min-height: 490px;
}



