.hero-img {
    max-height: 500px;
}



.header-title{
    font-size: 44px;
    font-weight: bold;
}

.material-icons.md-20 { font-size: 80px; }
.material-icons.md-10 { font-size: 50px; }


.card-features {
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-features:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(73, 104, 107, 0.644);
}

.step-title {
    font-size: 25px;
}

.bg-white-shade {
    background-color: aquamarine
}

.how-it-card {
    --bs-rows: 3; --bs-columns: 3;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 80px);
  gap: 10px;
  text-align: center;
}
.box1 { background: #0d6efd; color:white; }
.box2 { background: #198754; color:white; }
.box3 { background: #dc3545; color:white; }

.main-card {

    min-width: 200px;
}

.sub-button {
    width: 100%;
} 