{% extends "layout.html" %}

{% block body %}
    <div class="pagebody ">
        <!-- Mobile navbar -->
        <nav class="navbar navbar-dark bg-dark d-md-none">
            <div class="container-fluid">
                <div class="navbar-brand" >Meditrak</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-navbar">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>  
        <div class="collpase bg-dark d-md-none mobile-navbar-link" id="mobile-navbar">
            <ul class="nav flex-column p-3">
                <li class="nav-item"><a href="/dashboard" class="nav-link white-text active">home</a></li>
                <li class="nav-item"><a href="/medicine" class="nav-link white-text">medicine</a></li>
                <li class="nav-item"><a href="/analysis" class="nav-link white-text">analysis</a></li>
                <li class="nav-item"><a href="/profile" class="nav-link white-text">Profile</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link white-text">Logout</a></li>
            </ul>
        </div>

    
        <!-- Sidebar -->
        <div class="side-navbar flex-column p-4 d-md-block d-none">

        <a href="#" class="m-2 mx-4 text-decoration-none">
            <p class="fs-4 text-white">.Meditrack</p>
        </a>

        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
            <a href="/dashboard" class="nav-link text-white d-flex align-items-center active" >
                <i class="material-icons me-2">home</i>Home
            </a>
            </li>

            <li class="nav-item">
            <a href="/medicine" class="nav-link  d-flex align-items-center " >
                <i class="material-icons me-2">medication</i>Medicine
            </a>
            </li>
            
            <li class="nav-item">
            <a href="/analysis" class="nav-link d-flex align-items-center ">
                <i class="material-icons me-2 ">analytics</i>Analysis
            </a>
            </li>

            <li class="nav-item">
            <a href="/profile" class="nav-link d-flex align-items-center ">
                <i class="material-icons me-2 ">person</i>Profile
            </a>
            </li>
            
            <li class="nav-item">
            <a href="/logout" class="nav-link d-flex align-items-center text-danger">
                <i class="material-icons me-2 ">logout</i>Logout
            </a>
            </li>
        </ul>
            
        </div>



        <!-- Main Content -->
        <div class="main-sec p-2">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}