{% extends "dashLayout.html"%}

{% block main %}

        <h1 class="main-h1">Welcome back!</h1>
        <p class="main-p">Manage your medicines and stay on track with your health.</p>

        <div class="row g-3">

          <!-- quick-info -->
          <div class="col-lg-8">
            <div class="row g-3 ">
              <div class="col-md-3 col-6">
                <div class="card quick-info ">
                  <h2>{{ totalMedicine["totalMedicine"] }}</h2>
                  <p>Total Medicines</p>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="card quick-info">
                  <h2>{{ todayTotal["todayReminders"] }}</h2>
                  <p>Today's Reminders</p>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="card quick-info">
                  <h2>{{ upcomingReminders["upcomingReminder"] }}</h2>
                  <p>Upcoming Reminder</p>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="card quick-info">
                  <h2>{{ activeSch["active"] }}</h2>
                  <p>Active Schedule</p>
                </div>
              </div>

              <!-- basic-card home-b-card -->
               <!-- Card 1 -->
              <div class="col-md-6">
                <a href="/addtime" class="text-decoration-none">
                <div class="basic-card home-b-card">
                  <span class="material-icons">add_circle</span>
                  <h6>Add New Medicine</h6>
                  <p class="des-p">Add a new medicine with dosage and reminder time.</p>
                </div>
                </a>
              </div>

              <!-- Card 2 -->
              <div class="col-md-6">
                <a href="/medicine" class="text-decoration-none">
                <div class="basic-card home-b-card">
                  <span class="material-icons">calendar_month</span>
                  <h6>View Medicine Schedule</h6>
                  <p class="des-p">See all your medicines and their reminder times.</p>
                </div>
                </a>
              </div>

              <!-- Card 3 -->
              <div class="col-md-6">
                <a href="/medicine" class="text-decoration-none">
                <div class="basic-card home-b-card">
                  <span class="material-icons">edit</span>
                  <h6>Edit Medicines</h6>
                  <p class="des-p">Update medicine details whenever needed.</p>
                </div>
                </a>
              </div>
              <!-- Card 4 -->
              <div class="col-md-6">
                <a href="/medicine" class="text-decoration-none">
                <div class=" basic-card home-b-card">
                  <span class="material-icons">delete</span>
                  <h6>Delete Medicines</h6>
                  <p class="des-p">Remove medicines that are no longer required.</p>
                </div>
                </a>
              </div>
            </div>
           </div>

           <div class="col-lg-4">
                <div class="card text-center today-medi">
                  <h5>Today's Medicine Reminders</h5>
                  <div class="b-flex flex-column">
                    {% for todayReminder in todayReminders %}
                        <div>
                          <h6>{{ todayReminder["name"] }}</h6>
                          <p>{{ todayReminder["dosage"]}} • {{todayReminder["time"] }}</p>
                        </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
           
           <div class="col-10 ">
            <div class="basic-card call-sec">
              <h4>Stay Consistent With Your Medication</h4>
              <p class="des-p">Medi-Track helps you stay healthy by reminding you to take your medicines at the right time.</p>
            </div>
           </div>
          
        </div>

{% endblock %} 