{% extends "layout.html" %}


{% block body %}
    <div class="container " >
        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="card text-center mt-5 p-5   ">
                    <div class="headbox">
                        <h1 class="title mb-5">Reset Password</h1>
                    </div>

                    <form action="/forgotPassword" method="post">
                        <div class="row row-gap-3">
                            
                            <div class="col col-12">
                                <div class="input-group">

                                    <div class="form-floating">
                                        <input type="email" id="email" class="form-control" required placeholder="email here">
                                        <label for="email">Email</label>
                                        <div class="invalid-feedback">invalid email</div>
                                        <div class="valid-feedback">correct email</div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col col-12">
                                <div class="input-group">

                            <div class="col-12"><button class="btn btn-primary sub-button m-2">Send Code</button></div>
                        </div>
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}