{% extends "dashLayout.html" %}

{% block main %}
    <div class="row">
        <div class="col p-5">
            <div class="d-flex flex-row align-items-center gap-4">
                <img class="profile-pic" src="{{ user['profile_pic'] if user.get('profile_pic') else 'https://imgs.search.brave.com/reX3qA0iXDc1KiPIF8g1h-xObqTr1FXE6lqbiyLyndY/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTg3/ODA1MDc4L3ZlY3Rv/ci9wcm9maWxlLXBp/Y3R1cmUtdmVjdG9y/LWlsbHVzdHJhdGlv/bi5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9c1VDZHgtTGlr/cWU3ZUJFY2JuMUZU/OHliT1FRSFhEZ0JL/THNKYzk5TXRDQT0' }}" alt="profile picture">
                <div class="text-white">
                    <h3 class="m-0">{{ user["user_name"] }}</h3>
                    <p class="m-0 des-p">{{ user["full_name"] }}</p>
                    <p>Male</p>
                    <a class="text-decoration-none" href="/editprofile"><span class="material-icons">edit</span></a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="basic-card">
                <div class="row flex-row r">
                    <div class="col-4"><p>User Name</p></div>
                    <div class="col-3"><p>{{user["user_name"]}}</p></div>
                    <div class="col-2 ">
                        
                    </div>
                    <hr>
                    <div class="col-4"><p>Full Name</p></div>
                    <div class="col-6 "><p>{{user["full_name"]}}</p></div>
                    <hr>
                    <div class="col-4"><p>Gender</p></div>
                    <div class="col-6 "><p>Male</p></div>
                    <hr>
                    <div class="col-4"><p>Email</p></div>
                    <div class="col-6 "><p>{{user["email"]}}</p></div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}